{% extends 'base.html' %}

{% block title %}Browse Stories{% endblock %}

{% block content %}
    <p>
    {% include "show_wordset.html" %}

    {% if story_list|length != 0 %}
        Here are the stories created by that word_set:
            <ul>
            {% for story in story_list %}
                    <li>
                    {% include "show_story.html" %}
                    </li>
            {% endfor %}
            </ul>
        {% else %}
        No stories to show.
        {% endif %}

    </p>

{% endblock %}