{% extends 'base.html' %}
{% load static %}

{% block title %}Word-Lists{% endblock %}

{% block content %}
<head>

    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    
    <script src="{% static 'css/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/javascript.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    
  </head>
  
  
  <div class="page">
    <div class="top-half-card shadow p-0 mb-0" style="height:90vh;top:70px">
            <center>Here are the wordsets</center> 
            {% if word_sets %}
                {% for word_set in word_sets %}
                    <div class="card-group" style="margin:5px">
                        <div class="card browse-card" style="overflow-y:auto" >
                            <div class="card-body">
                                <a href='{{ word_set.get_absolute_url }}' class="btn btn-primary" style="margin:2px;">{{ word_set.title }}</a>
                                {% for word in word_set.words.all %}
                                    <p class="card-text">{{ word.text }}<br></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                     
            {% else %}
            <p> No Word-Set is available </p>
            {% endif %}
             
        
    </div>
</div>
{% endblock %}
