<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <article>

        <p>
            Welcome to the Vocastory,
            {% if user.is_authenticated %}
                {{ user.username }}.
            {% else %}
                please Login/Signup for contributing to the stories.
            {% endif %}<br>
            We struggle to memorise words effectively, this is a platform where
            you can memorize words by creating stories! <br>
            In writer's mode, write a sentence using not used word to continue the story! <br>
            In reader's mode, choose the best sentence you think is the best to continue the story! <br>
        </p>


        <p>
        <h3> Top Stories </h3>
        <ul>
            {% for story in stories %}
                <li>
                    {% include "show_story.html" %}
                </li>
            {% endfor %}
        </ul>
        </p>

        <p>
        <h3> Top WordSets </h3>
        <ul>
            {% for word_set in word_sets %}
                <li>
                    {% include "show_wordset.html" %}
                </li>
            {% endfor %}
        </ul>
        </p>

    </article>
{% endblock %}
