<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <article>
        {% if user.is_authenticated %}
            <h2>UserMenu</h2>
            <p>Hi {{ user.username }}! Here are the possible options to navigate:</p>
            <ul>
                <li>
                    <a href='vocastory/writers_mode'> Writer's Mode</a>
                </li>

                <li>
                    <a href='vocastory/readers_mode'> Reader's Mode</a>
                </li>
            </ul>
        {% else %}
          <p>You are not logged in, here are the possible options to navigate:</p>
            <ul>

                <li>
                    <a href='vocastory/browse_mode'> Browse Stories</a>
                </li>
            </ul>


        {% endif %}
    </article>
{% endblock %}