<!-- templates/leaderboard.html-->
{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

    <table style="width:100%">

        <tr>
        <th style="text-align:center">Rank</th>
        <th style="text-align:center">User</th>
        <th style="text-align:center">Points</th>
        </tr>
        {% for user in users_scored %}
            <tr>
                <td style="text-align:center"> {{ forloop.counter }} </td>
                <td style="text-align:center"> {{ user.username }} </td>
                <td style="text-align:center"> {{ user.score }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
