<!-- templates/leaderboard.html-->
{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

    <table style="width:100%">

        <tr>
        <th style="text-align:center">Rank</th>
        <th style="text-align:center">User</th>
        <th style="text-align:center">Points</th>
        </tr>
        {% for u in users_scored %}
            <tr>
                {% if user.id == u.id %}
                
                    <td style="text-align:center"> <strong>{{ forloop.counter }}</strong>  </td>
                    <td style="text-align:center"> <strong>{{ u.username }}</strong> </td>
                    <td style="text-align:center"> <strong>{{ u.score }}</strong> </td>
                {% else %}
                    <td style="text-align:center"> {{ forloop.counter }} </td>
                    <td style="text-align:center"> {{ u.username }} </td>
                    <td style="text-align:center"> {{ u.score }} </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
