<!-- templates/leaderboard.html-->
{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <table class="table table-hover shadow-lg" style="width:70%;margin: auto;margin-top:30px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        <tr style="background: rgb(236, 236, 236)">
        <th style="text-align:center;width: 10%;">Rank</th>
        <th style="text-align:center">User</th>
        <th style="text-align:center">Points</th>
        </tr>
        {% for u in users_scored %}
            <tr>
                {% if user.id == u.id %}
                
                    <td style="text-align:center"> <strong>{{ forloop.counter }}</strong>  </td>
                    <td style="text-align:center"> <strong>{{ u.username }}</strong> </td>
                    <td style="text-align:center"> <strong>{{ u.score }}</strong> </td>
                {% else %}
                    <td style="text-align:center"> {{ forloop.counter }} </td>
                    <td style="text-align:center"> {{ u.username }} </td>
                    <td style="text-align:center"> {{ u.score }} </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}
