{% if word_set %}

    <a href="{{ word_set.get_absolute_url }}">
        {{ word_set.title }}
    </a>,
    <strong>
        {{ word_set.starred_users.count }}
    </strong> likes, words it contain:<br>
    <ul>
        {% for word in word_set.words.all %}
            <li>
                <p class="card-text">
                    <a href="show_meaning.html">
                        {{ word.text }}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>

{% endif %}

