<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}





    <div class="page">
        <div class="top-half shadow p-0 mb-0" style="background:rgb(235, 235, 235);width:70vw;left:50px;height:85vh;top:80px" >

                <p class="display-1" style="margin-left: 10px;margin-top: 30px;margin-bottom:30px;text-align: center;font-size: 30px;" >
                        <mark>
                                {{ word }}
                            <br>
                    </mark> </p>


    <div class="sentence shadow-sm" style="height:80%;font-size: 25px;margin:auto;overflow: auto;">
            {% for type, meanings in word_info.items %}
            <strong> {{ type }}: </strong> <br>
            <ul>
                {% for meaning in meanings %}
                    <li>
                        {{ meaning }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        </div>


{% endblock %}




