{% if story %}
    <p class="shadow-sm"
       style="border-radius:50px;border-color:rgb(218, 218, 218);border-style:solid;padding:30px;border-width: 1px;">

        <strong> {{ story.title }} </strong> <br>

        {% if story.completed %}

            {{ story.get_stylized_text|safe }}<br>
            <a href='{{ story.get_review_url }}'>
                Read/Review the story!
            </a> <br>

        {% else %}
            {% if story.is_readable %}
                <a href='{{ story.get_read_url }}'>
                    Contribute in Reader's mode!
                </a> <br>
            {% endif %}

            <a href='{{ story.get_write_url }}'>
                Contribute in Writer's mode!
            </a> <br>

        {% endif %}

    </p>
{% endif %}