{% if word_set %}

<div class="card bg-light" style="width:50vw;margin:auto;margin-bottom: 10px;overflow-y:auto ;">
        <h5 class="card-header"><a href="{{ word_set.get_absolute_url }}"  style="margin:2px;">
                {{ word_set.title }}
</a></h5>
        <div class="card-body">
                <h5 class="card-title"><strong style="background: rgb(255, 255, 146);">{{ word_set.starred_users.count }} likes</strong> </h5>              
                <p class="card-text">
                        <ul>
                                {% for word in word_set.words.all %}
                                    <li>
                                    <p class="card-text" style="text-align: left;">
                                        <a href="{{ word.get_absolute_url }}">
                                            {{ word.text }}
                                        </a>
                                    </p>
                                    </li>
                                {% endfor %}
                            </ul>
                </p>
                <h5 class="card-header" style="text-align:center;border-radius: 30px;background: rgb(255, 255, 132);"><a href="{{ word_set.get_like_url }}">Star/Unstar Wordset</a></h5>
        </div>
      </div>

{% endif %}






