<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Starred Page{% endblock %}

{% block content %}
    <article>

    <p>
        <h3> Starred Stories </h3>
        This shows the stories that you liked.
        <ul>
            {% for story in stories %}
                <li>
                    {% include "show_story.html" %}
                </li>
            {% endfor %}
        </ul>
    </p>

    <p>
        <h3> Starred WordSets </h3>
        This shows the wordsets you liked.
        <ul>
        {% for word_set in word_sets %}
            <li>
                {% include "show_wordset.html" %}
            </li>
        {% endfor %}
        </ul>
    </p>

    </article>
{% endblock %}
