{% extends 'base.html' %}

{% block title %}Write Story{% endblock %}

{% block content %}
    <h3>
        {{ story.title }}
    </h3>

    <p>
        Here is the last two sentences:<br>
        {{ story.get_stylized_last_two|safe }}
    </p>

    <p>
    <form method="post">
        {% csrf_token %}
        {{ input_form }}
        <input type="Submit" value="Submit">
    </form>
    </p>

    <p>
        Here is the wordset:
    <ul>
        {% for word in story.word_set.words.all %}
            <li>
                {{ word }}
            </li>
        {% endfor %}
    </ul>
    </p>

{% endblock %}